@use "./../abstract" as *;
.container {
  max-width: var(--width);
  margin-inline: auto;

  @include mq("phone") {
    flex-direction: column;
    p,q,h1,button{
       margin: auto;
    }

  }
   
}