@mixin flex($direction: column,$align: center, $justify: space-between, $gapR:var(--gap), $gapC:var(--spacer)) {
  display: flex;
  gap: $gapR $gapC;
  flex-direction:$direction;
  align-items: $align;
  justify-content: $justify;
}
.flex-justify-space-around {
  @include flex($justify:space-around);
}
.flex-justify-start {
  @include flex($justify:flex-start);
}
.flex-row {
  @include flex($direction:row);
}