$colors : (
  neutral: (
    100: 	#ffffff,
    200: 	#f2f2f2,
    300: 	#d9d9d9,
    400: 	#999999,
    500: 	#808080,
    600: 	#666666,
    700: 	#4d4d4d,
    800:  #333333,
    900: 	#000000
  ),
  primary: (
    100: 	#610507,
    200: 	#91080a,
    300: 	#c20a0d,
    400: 	#f20d11,
    500: 	#f53d40,
    600: 	#f76e70,
    700: 	#fa9ea0,
    800:  #fccfcf,
    900: 	#fef0f1,
  )
)