@use 'breakpoints' as *;
@use 'variables' as *;
@use 'functions' as *;

@mixin set-background($color){
  background-color: $color;
  color:set-text-color($color);
}

@mixin flx($direction: column,$align: center, $justify: space-between, $gapR:var(--gap), $gapC:var(--spacer)) {
  display: flex;
  gap: $gapR $gapC;
  flex-direction:$direction;
  align-items: $align;
  justify-content: $justify;
}  

@mixin mq($key) {
  $size: map-get($breakpoints, $key);
  
  @media only screen and (max-width: $size) {
    @content
  }
}




