.avatar-circle {
  border-radius: var(--radius-circle);
  vertical-align: middle;
}
.avatar-rectangle {
  border-radius: var(--radius-card);
}
.avatar-image {
  width:40px;
  height:25px;
}

.avatar-profile {
  width: 100px;
  height: 100px;
}
.profile-avatar {
  position:relative;
  margin: auto;
  
  .edit-avatar {
    position:absolute;
    width: 25px;
    height: 25px;
    right: 0;
    bottom: 0;
    background-color: var(--clr-primary-500);
    border-radius: var(--radius-card);
    padding: 0.1rem;
    text-align: center;
    justify-content: center;
    color: var(--clr-neutral-100);
  }
}
