.textField{
  background-color: var(--clr-neutral-200);
  background-image: url('../../../public/search-32.png'); 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 35px  ;
  border: 0;
  border-radius: var(--radius-inputBox);
  min-height: 40px;
  width: 100%;
  &::placeholder {
    color: var(--clr-neutral-400);
    font-size: small;
    padding: 0.5rem;
  }
}
