$spacer: 1rem;
$gap: 1rem;

$radius-card: 0.25rem;
$radius-button: 2rem;
$radius-inputBox : 0.75rem;
$radius-circle : 50%;

// ========================== //
// Device breakpoints (width) //
// ========================== //
$breakpoints: (
  phone:25em,
  tablet: 35em,
  desktop: 50em,
  lgDesktop: 65em
);